<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.hr.mapper.BoardfileMapper">
	<!-- Boardfile 추가 -->
		<insert id="insertBoardfile" parameterType="com.gd.hr.vo.Boardfile">
			INSERT INTO boardfile(
				boardfile_no,
				board_no,
				filename,
				origin_name,
				file_type,
				file_size
			) VALUES (
				boardfile_seq.nextVal,
				#{boardNo},
				#{fileName},
				#{originName},
				#{fileType},
				#{fileSize}
			)
		</insert>
	
	<!-- Board 삭제시 Boardfile도 삭제 -->
		<delete id="deleteBoardfileByBoard" parameterType="int">
			DELETE FROM boardfile
			WHERE board_no = #{boardNo}
		</delete>
		
	<!-- Boardfile 삭제를 위한 Boardno 찾기 -->		
		<select id="selectBoardfileByBoardNo" parameterType="int" resultType="com.gd.hr.vo.Boardfile">
			SELECT
				filename,
				origin_name,
			FROM boardfile
			WHERE board_no = #{boardNo}
		</select>
</mapper>